.sidebar {
   flex:3;
   padding: 20px 20px;
   text-align: center;
}
.sidebar__items {
   position: sticky;
   top: 0;
}

.sidebar__item-title{
   font-family: 'Chakra Petch', sans-serif;
   font-size: 20px;
   font-weight: 400;
   border-top:2px dotted #5A46FA; 
   border-bottom:2px dotted #5A46FA;
   padding: 5px 0;
}
.sidebar__item-img {
   margin: 20px 0;
}
.sidebar__item-img img{
   width: 150px;
   height: 150px;
   object-fit: cover;
   border-radius: 50%;
}
.sidebar__item-text{
   margin-bottom: 20px;
}
.sidebar__item-list{
   margin: 20px 0;
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
}
.sidebar__item-list li {
   width:50%;
   margin: 10px 0;
   padding: 10px 0;
   transition: all ease 0.3s;
}
.sidebar__item-list li:hover {
   background-color: #5A46FA;
   color:#ffffff;
   cursor: pointer;
}
.sidebar__item-icons {
   display: flex;
   justify-content: space-around;
}
.sidebar__item-icons i {
   font-size: 28px;
   margin-top: 20px;
   color:#a3a1a1;
}
.sidebar__item-icons i:hover {
   cursor: pointer;
}
.sidebar__item-icons i:nth-child(1):hover {
   background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.sidebar__item-icons i:nth-child(2):hover {
  color: #3b5998; 
}
.sidebar__item-icons i:nth-child(3):hover {
   color: #00acee; 
 }
 .sidebar__item-icons i:nth-child(4):hover {
   color:#0e76a8 ;  
 }
