.header {
   width: 100%;
   position: sticky;
   top: 0;
   display: flex;
   align-items: center;
   background-color: #5A46FA;
   font-family: 'Chakra Petch', sans-serif;
   font-weight: 700;
   color: #ffffff;
   justify-content: center;
   padding: 0px 20px;
   height: 85px;
   z-index: 999;
}
.header__search {
   font-size: 28px;
   color:#e4e4e4;
   cursor: pointer;
   margin-left: 15px;
   flex:3;
}

.header__search-box {
   background: #fff;
   padding: 15px;
   border-radius: 50px;
   display: flex;
   top: 17px;
   left: 20px;
   align-items: center;
   position: absolute;
}
.header__search-input {
   background: #fff;
  color: #5445ff;
  padding: 0;
  outline: none;
  border: none;
  width: 0;
  float: right;
  font-size: 18px;
  transition: 0.7s ease;
  font-family: sans-serif;
}
.header__search-input::placeholder {
   color: #5445ff;
   font-size: 18px;
 }
.header__search-btn {
   display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: transparent;
  border: none;
  padding: 0;
  outline: none;
  border-radius: 50%;
  float: left;
  transition: 0.4s ease;
  color: #fff;
}
.header__search-btn i {
   color:#5445ff;
   font-size: 22px;
}
.header__search-box:hover > .header__search-input {
   width: 150px;
   margin: 0 8px;
 }
 .header__search-input:focus {
   width: 150px;
   margin: 0 8px;
 }
.header__navigation{
   flex:6;
}
.header__menu {
   font-weight: 700;
   font-size: 22px;
   color: #ffffff;
   display: flex;
   justify-content: center;
   padding: 0;
   margin: 0;
}
.header_menu-item {
   list-style: none;
   margin-right: 20px;
   cursor: pointer;
}
.header__selected {
   text-decoration: none;
   color: #ffffff;
}
.header a {
   padding: 0 10px;
}
.header a:hover {
   color:rgb(243, 34, 86);
}
.header__account {
   flex:3;
   display:flex;
   align-items: center;
   justify-content: flex-end;
}
.header__profile-picture img{
   width: 60px;
   height: 60px;
   border-radius: 50%;
   object-fit: cover;
}

