.post {
   width: 50%;
   height: 600px;
   text-align: center;
   padding: 15px;
   display: block;
   
}
.post a {
   text-decoration: none;
   color:inherit;
}
.post:hover {
   transition: all ease 0.3s;
   box-shadow:  rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.post__img img{
   width: 450px;
   height: 300px;
   object-fit: cover;
   border-radius: 5px;
   margin: 10px 0;
}
.post__categories{
   margin: 10px 0;
}
.post__categories span {
   padding: 5px;
   background-color:#b2afc2; 
   color:#fff;
   margin: 0 5px;
}
.post__content{
   padding: 0px 20px;
}
.post__title{
   font-size: 22px;
   font-family: 'Chakra Petch', sans-serif;
   font-weight: 700;
   margin: 20px 0 10px;
   cursor: pointer;

}
.post__date{
   color:#b2afc2
}
.post__text{
text-align: center;
margin: 10px 0;
display: -webkit-box;
-webkit-line-clamp: 5;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
 
}